<div class="card max-w-screen-md mx-auto gap-4 flex flex-col">
    <h1 class="text-center font-semibold">Apa kata mereka ?</h1>
    @for (item of testimoni; track $index) {
    <p-panel>
        <ng-template #header>
            <div class="flex items-center gap-2">
                <span class="font-bold"> {{item.customer.name}} </span>
            </div>
        </ng-template>
        <ng-template #footer>
            <div class="flex flex-wrap items-center justify-between gap-4">
                <p-rating [(ngModel)]="item.rating" [readonly]="true" />
                <span class="text-surface-500 dark:text-surface-400">
                    {{item.created_at | date:'dd MMMM yyyy HH:mm'}}
                    <i class="pi pi-calendar mr-1"></i>
                </span>
            </div>
        </ng-template>
        <p class="m-0">
            {{item.description}}
        </p>
    </p-panel>
    }
</div>