<div class="card">
    <p-table
        #dt
        [value]="orders"
        [rows]="10"
        [rowHover]="true"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['title', 'customer', 'id', 'status']"
        responsiveLayout="scroll"
        selectionMode="single"
        [(selection)]="selectedOrder"
        dataKey="id"
        (onRowSelect)="onRowSelect($event)"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
                <th pSortableColumn="title">Title <p-sortIcon field="title" /></th>
                <th pSortableColumn="customer">Customer <p-sortIcon field="customer" /></th>
                <th pSortableColumn="category">Category <p-sortIcon field="category" /></th>
                <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
                <th pSortableColumn="createdAt">Date <p-sortIcon field="createdAt" /></th>
            </tr>
        </ng-template>
        <ng-template #body let-order>
            <tr [pSelectableRow]="order">
                <td>{{ order.id }}</td>
                <td>{{ order.title }}</td>
                <td>{{ order.customer }}</td>
                <td>{{ order.category }}</td>
                <td>
                    <p-badge
                        [value]="order.status"
                        [severity]="
                            order.status === 'Baru'
                                ? 'info'
                                : order.status === 'Bayar'
                                  ? 'warn'
                                  : order.status === 'Konfirmasi'
                                    ? 'secondary'
                                    : order.status === 'Diproses'
                                      ? 'contrast'
                                      : order.status === 'Selesai'
                                        ? 'success'
                                        : order.status === 'Batal'
                                          ? 'danger'
                                          : 'secondary'
                        "
                    />
                </td>
                <td>{{ order.createdAt | date: 'dd MMM yyyy' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
