<div class="card">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '60rem' }" [paginator]="true" [rows]="5">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <span class="text-xl font-bold">Products</span>
                <p-button (onClick)="onToggleDrawer('new')" icon="pi pi-plus" label="New Product"
                    severity="info"></p-button>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>
                    <img [src]="`${resourceUrl}${product.image}`" [alt]="product.name" class="w-24 rounded" />
                </td>
                <td>{{ product.name }}</td>
                <td>{{ limitString(product.description, 60) }}</td>
                <td>{{ product.category.name }}</td>
                <td>
                    <p-tag [value]="product.is_active ? 'Active' : 'InActive'"
                        [severity]="product.is_active ? 'success' : 'danger'" />
                </td>
                <td>
                    <p-button [icon]="product.is_active ? 'pi pi-check-circle' : 'pi pi-times-circle'" class="me-2"
                        [loading]="isLoadingChangeStatus" (onClick)="onChangeStatus(product.id, product.is_active)"
                        [severity]="product.is_active ? 'success' : 'danger'"></p-button>
                    <p-button icon="pi pi-pencil" (onClick)="onToggleDrawer('edit', product)"
                        severity="warn"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-drawer [header]="drawerHeader" [(visible)]="displayDrawer" position="left"
    styleClass="!w-full md:!w-80 lg:!w-[33rem]">
    <div class="flex justify-end gap-2 mb-6">
        <p-button label="Close" styleClass="w-full" class="block w-full" (onClick)="displayDrawer = false"
            severity="secondary" />
        <p-button label="Create" styleClass="w-full" class="block w-full"
            (onClick)="saveNewProduct(drawerHeader === 'Create New Product' ? 'new' : 'edit', fileUploader)" />
    </div>

    <div class="flex flex-col gap-2 mb-4">
        <label for="name" class="font-medium">Name</label>
        <input pInputText id="name" class="flex-auto" [(ngModel)]="inputName" />
    </div>

    @if (drawerHeader === 'Create New Product') {
    <div class="flex flex-col gap-2 mb-4">
        <label for="cust" class="font-medium">Category</label>
        <p-select [options]="categories" inputId="cust" [(ngModel)]="categorySelected" optionLabel="name"
            placeholder="Select category" class="w-full">
        </p-select>
    </div>
    }


    <div class="flex flex-col gap-2 mb-4">
        <label for="price" class="font-medium">Product Price</label>
        <p-inputNumber [(ngModel)]="productPrice" id="price" mode="currency" currency="IDR" locale="id-ID"
            class="w-full" minFractionDigits="0" />
    </div>

    <div class="flex flex-col gap-2 mb-8">
        <label for="description" class="font-semibold w-24">Description</label>
        <textarea pTextarea rows="4" id="description" [(ngModel)]="inputDescription"></textarea>
    </div>

    <p-fileupload #fileUploader accept="image/*" [customUpload]="true" maxFileSize="1000000" mode="advanced"
        [showUploadButton]="false">
        <ng-template #empty>
            <div>Drag and drop files to here to upload.</div>
        </ng-template>
    </p-fileupload>

</p-drawer>